*{
  margin: 0%;
  padding: 0%;
}
.content{
  margin: 5%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.buttons{
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card-render{
  flex: 1;
  max-width: 50%;
}
.card-render ol li {
  list-style: none;
}
.card-body{
  background-color: brown;
  margin: 2%;
  margin-top: 0%;
  width: 200px;
  height: 200px;
}
.card{
  display: inline-block;
  align-items: flex-start;
}
.button1, .button2, .button3{
  margin: 2%;
  padding: 1.5%;
  border-radius: 25px;
  background-color:mediumspringgreen;
}
